.block-header
{
    padding: 10px;
    background-color: #00000054;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.block-header p
{
    font-size: 40px;
    margin-left: 10px;
    margin-right: 60px;
    height: auto;
    font-family: Aller;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}
.block-header a
{
    color: white;
    text-decoration: blink;
    font-family: Aller;
    font-size: 23px;
    height: 25px;
    margin-right: 20px;
}
.block-navigation
{
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: space-between;
}
img
{
    max-height: 100%;
    max-width: 100%;
}
.block-image_navigation
{
    height: 50px;
}
body
{
    margin: 0px;
}
.block-logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
@font-face
{
    font-family: Aller;
    src: url(Jost-Bold.ttf);
}
.block-ban
{
    text-align: center;
}
.block-ban p
{
    color: red;
}
.block-footer
{
    display: flex;
    justify-content: center;
    background-color: #0c1621;
    align-items: center;
    height: 75px;
    font-family: Aller;
    color: white;
    width: 100%;
    flex-direction: column;
}
html,body
{
    height: 100%
}