body 
{
    font-size: 17px;
    margin: 0;
    background: #ecdfdf;
    background-image:url(banniere2.jpg);
    background-size : 100%;
    background-color: rgba(0,0,0,2);
}
@font-face
{
    font-family: Aller;
    src: url(Jost-Bold.ttf);
}
.phrase
{
    text-align: center;
    color : white;
    font-size : 55px;
    margin-top : 10%;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Aller;
}

.bouton 
{
    margin-top : 10%;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border:none;
    padding:6px 0 6px 0;
    
}
.btn {
    text-decoration: none;
    padding: 25px;
    font-family: Aller;
    color: #FFFFFF;
    font-size: 25px;
    background-color: #1ca213;
    border-radius: 40px;
    border-color: transparent;
}



